[submodule "part2/2.4/scaling-exercise"]
	path = part2/2.4/scaling-exercise
	url = https://github.com/docker-hy/scaling-exercise
[submodule "part2/2.5/backend-example-docker"]
	path = part2/2.5/backend-example-docker
	url = git@github.com:docker-hy/backend-example-docker.git
[submodule "part2/2.5/frontend-example-docker"]
	path = part2/2.5/frontend-example-docker
	url = git@github.com:docker-hy/frontend-example-docker.git
[submodule "part2/2.6/backend-example-docker"]
	path = part2/2.6/backend-example-docker
	url = git@github.com:docker-hy/backend-example-docker.git
[submodule "part2/2.6/frontend-example-docker"]
	path = part2/2.6/frontend-example-docker
	url = git@github.com:docker-hy/frontend-example-docker.git
[submodule "part2/2.7/ml-kurkkumopo-training"]
	path = part2/2.7/ml-kurkkumopo-training
	url = git@github.com:docker-hy/ml-kurkkumopo-training.git
[submodule "part2/2.8/backend-example-docker"]
	path = part2/2.8/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker
[submodule "part2/2.8/frontend-example-docker"]
	path = part2/2.8/frontend-example-docker
	url = git@github.com:docker-hy/frontend-example-docker.git
